<div class="container-fluid" *ngIf="appService.showMember">
  <div *ngIf="!showEditForm">
      <button *ngIf="!appService.showAddMemberForm" id="addMemberButton" class="btn btn-primary pull-right" (click)="goToAddMemberForm()">Add Member</button>
      <table class="table" *ngIf="!appService.showAddMemberForm">
        <thead>
          <tr>
            <th>Member ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Title</th>
            <th>Racing Team</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let member of members'>
            <td>{{member?.id}}</td>
            <td>{{member?.firstName}}</td>
            <td>{{member?.lastName}}</td>
            <td>{{member?.jobTitle}}</td>
            <td>{{member?.team}}</td>
            <td>{{member?.status}}</td>
            <td><button type="button" (click)="deleteMemberById(member?.id)">Delete</button></td>
            <td><button type="button" (click)="editMemberByID(member?.id, member)">Edit</button></td>
          </tr>
        </tbody>
      </table>
      <app-member-details *ngIf="appService.showAddMemberForm"></app-member-details>
  </div>
  
  <div *ngIf="showEditForm">
    <h3 class="text-center lead">Edit Member</h3>
    <h5><button class="btn btn-primary pull-right" (click)="goBack()">Show Member Summary</button></h5>
  <br />
  <!--Template Driven Form or Model Driven Form?-->
  <form (ngSubmit)="onSubmit()" [formGroup]="memberEditForm"> 
    <div>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First Name"
            formControlName="firstName"
            
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
            formControlName="lastName"
            
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            placeholder="Job Title"
            formControlName="jobTitle"
            
          />
        </div>
        <!--We may have to make a service call to get this list-->
        <select id="team" class="col-md-6 custom-select" (click)="displayTeamList()" formControlName="team" required>
          <option [ngValue]="team.teamName" *ngFor="let team of teams">{{ team.teamName }}</option>
        </select>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" name="status" formControlName="status"  /> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" name="status" formControlName="status" /> Inactive
          </label>
        </div>
      </div>
    </div>
    <!--Disable if form is invalid-->
    <button type="submit" class="btn btn-primary pull-right" (click)="editMember()">
      Save Changes
    </button>
  </form>
  </div>
</div>
